.group-frame {
  border: 1px dashed #0000001d;
  background: #fdfac400;
  border-radius: 0px;
  margin-top: 11px;
  margin-bottom: 1px;
  margin-left: 3px;
  position: absolute;
  padding-top: 3px;
  padding-bottom: 0px;
  padding-left: 10px;
  padding-right: 30px;
  display: flow-root;
  min-height: 2em;
}

.group-btn {
  all: unset;
  position: absolute;
  top: -12px;
  right: 0px;
  z-index: 10;
  width: 22px;
  height: 22px;
  font-family: "Malgun Gothic";
  font-weight:500;
  font-style: none !important;
  font-size: 16px;
  letter-spacing: -2px;
  padding-left: 0px;
  align-items: center;
  color: #32323271 !important;
  border: 2px solid #32323271 !important;
  box-shadow: 2px 2px #32323271;
  background-color: #eee !important;
  border-radius: 6px;
  cursor: pointer;
  display: inline-flex;


}

.group-btn:hover {
  color: #323232 !important;
  border: 2px solid #323232 !important;
  box-shadow: 2px 2px #323232;
}

.group-btn.reverter {
  background: #d3fdf6 !important;
  color: #133239 !important;
  border: 2px solid #133239 !important;
  box-shadow: 2px 2px #133239;
  font-size: 22px;
  font-style: none !important;
  vertical-align: middle;
  font-family: "Noto Sans Symbols";
  width: 18px;
  height: 18px;
  justify-content: center;
  align-items: center;
  padding-top: 2px;
  padding-right: 2px;

}

.symbol {
  position: absolute;
}

.spinning {
  margin-left: 2px;
  margin-bottom: 1px;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  to { transform: rotate(-360deg); }
}

/* basically "change frame that has a currently hovered button inside it" */
.group-frame:has(.group-btn:hover, .easy-rate-button:hover, .hard-rate-button:hover, .group-btn.reverter) {
  background: #fdfac4;
  border: 1px solid #00000073 !important;
  border-radius:1px 5px 1px 5px;
  box-shadow:3px 3px 0px 0px rgba(0, 0, 0, 0.75);
  top:-3px;                /*     <=     */
  left:-3px;                /*    ||     */
  margin-top: 15px; /* has to be this + original margin-top */
}

.rate-button {
  all: unset; 
  font-size: 0.75rem;
  font-family: ReithSans, Helvetica, Arial, freesans, sans-serif;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  width: auto;
  height: auto !important;
  padding-top: 3px !important;
  padding-bottom: 3px !important;
  padding-left: 8px !important;
  padding-right: 8px !important;
  border-radius: 1px;
  cursor: pointer;
  z-index: 1;
  background-color: #ffffff;
  line-height: 1.25;
}

.rate-button:active {
  box-shadow: none;
  transform: translateY(2px);
  transform: translateX(2px);
  z-index: 2;
}

.hard-rate-button {
  position: absolute;
  right: 8px !important;
  bottom: 4px;
  color: #fd6666;
  border: 2px solid #fd6666 !important;
  box-shadow: 2px 2px 0 #ff6c6c;
  z-index: 2;
}

.easy-rate-button {
  position: absolute;
  bottom: 4px;
  right: 66.5px !important;
  color: #269f5c;
  border: 2px solid #51c183 !important;
  box-shadow: 2px 2px 0 #51c183;
  z-index: 1;
}

.hard-rate-button:hover {
  background-color: #ff6c6c;
  color: #fff;
}

.easy-rate-button:hover {
  background-color: #51c183;
  color: #fff;
}

.fade-out {
  transition: opacity 0.75s ease;
  opacity: 0;
}

.animated-text {
  position: absolute;
  font-size: 15px;
  white-space: nowrap;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -175%);
  font-weight: bold;
  animation: popUp 1s forwards;
}

@keyframes popUp {
  100% {
    transform: translate(-50%, -300%);
    opacity: 0;
  }
}


/* popup related */

.extension-popup  {
  min-width: 320px;
  min-height: 400px;
  max-height:540px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  position: relative;
  /* gap: 0.75rem; */
}

.streak-header {
  display: block;
  margin: 2px;
  line-height: 1;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight:100 !important;
  white-space: nowrap;
  white-space-collapse: preserve;
  color: #545454
}

.chart {
  display: block;
  width: 300px;
  height: 300px;
  box-sizing: border-box;
  margin-top: 4px;
  margin-bottom: 10px;
}

hr {
  border: 0;
  clear:both;
  display:block;
  width: 96%;               
  background-color:#b3b3b3;
  height: 1px;
}

.text-area {
  display: flex;
  flex-direction: column;
  padding: 4px;
  gap: 4px;
  background-color: #ededed;
  border: 2px solid #b9b9b9;
}

.text-box {
  padding: 4px;
  /* border: 2px dashed #eee; */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 40px
}

.text-box p {
  margin: 0px;
  font-size: 13px;
  white-space: nowrap; 
  display: inline-flex;
}

/* From Uiverse.io by SV-jtv */ 
.switch {
  --secondary-container: #415863;
  --primary: #67c0ec;
  font-size: 10px;
  position: absolute;
  display: inline-flex;
  width: 3.7em;
  height: 1.8em;
  right: 15px;
  line-height: 1;
  /* float: right */
}

.switch .input {
  display: none;
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #071019;
  transition: 0.2s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  border-radius: 20px;
  left: 0.2em;
  bottom: 0.2em;
  background-color: #a09e9e;
  transition: 0.4s;
}

.input:checked + .slider::before {
  background-color: var(--primary);
}

.input:checked + .slider {
  background-color: var(--secondary-container);
}

.input:focus + .slider {
  box-shadow: 0 0 1px var(--secondary-container);
}

.input:checked + .slider:before {
  transform: translateX(1.9em);
}
